html, body { height: 100%; }

body {
    text-align: center;
    background: #E5E5E5;
    font: small 'Droid', Verdana, Arial, sans-serif; }
 
div#wrap-all {
    display: block;
    width: 995px;
    margin: 20px auto 0px auto;
    border: 1px solid #9B8748;
    background: #FFF;
    position: relative; }

* html #wrap-all {
    height: 100%;
    width: 997px;
    w\idth: 995px; }
/* header
----------*/
#header {
    position: relative;
    height: 135px;
    background: #2A3E86; }

#header h1 {
    float: left;
    text-align: left;
    margin: 0;
    padding: 40px 0 0 120px;
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-size: 3.0em; 
    color: #F0F0F0; }

#header img {
    float: right;
/*    position: absolute;*/
    margin: 25px 20px 0 0; }

#nav-top {
    position: absolute;
/*    float: left;*/
/*    margin: 30px 0 0 250px;*/
    top: 99px;
    left: 250px;
    list-style: none;
    white-space: nowrap;
    background: #2A3E86 url(img/nav_bg.gif) repeat-x bottom}

#nav-top li {
    float: left;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 75%; }

#nav-top a {
    float: left;
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 8px;
    color: #F0F0F0;
    text-decoration: none;
    border: 1px solid #2A314C;
    border-bottom: none;
    background: #2A3E86 url(img/off_bg.gif) repeat-x top left; }

#nav-top a:hover, body#home #t-home a {
    color: #333;
    padding-bottom: 5px;
    border-color: #727377;
    background: #FFF url(img/on_bg.gif) repeat-x top left; }

#nav-top a:hover, body#profil #t-profil a {
    color: #334;
    padding-bottom: 5px;
    border-color: #727377;
    background: #FFF url(img/on_bg.gif) repeat-x top left; }

#nav-top a:hover, body#referenz #t-referenz a {
    color: #333;
    padding-bottom: 5px; 
    border-color: #727377;
    background: #FFF url(img/on_bg.gif) repeat-x top left; }

#nav-top a:hover, body#about_us #t-about_us a {
    color: #333;
    padding-bottom: 5px; 
    border-color: #727377;
    background: #FFF url(img/on_bg.gif) repeat-x top left; }

#nav-top a:hover, body#kontakt #t-kontakt a {
    color: #333;
    padding-bottom: 5px;
    border-color: #727377;
    background: #FFF url(img/on_bg.gif) repeat-x top left; }

#nav-top a:hover, body#impressum #t-impressum a {
    color: #333;
    padding-bottom: 5px;
    border-color: #727377;
    background: #FFF url(img/on_bg.gif) repeat-x top left; }
/* nav-lang zwischen header und content
----------*/
#nav-lang {
    position: relative;  
    float: right;
    width: 100%;
    margin: 0; }

#nav-lang ul {
    list-style: none;
    margin: 0;
    padding: 6px 20px 0 0; }
    
#nav-lang li {
    float: right;
    margin: 0;
    padding: 0 8px 0 0; }

#nav-lang a {
    float: left;
    margin: 0; }

#nav-lang img {
    padding: 0;
    border: none; }
/* content
----------*/
#content {
    float: left;
    width: 72%;
    margin-right: 5%; }

#content h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 125%;
    color: #333; }

#content h2 {
    text-align: left;
    margin: 50px 0 0 80px;
    padding: 0 0 1px 10px;
    font-size: 110%;
    color: #333;
    border-bottom: 1px dotted #9B8748; }
    
#content p {
    text-align: left;
    margin-left: 95px;
    font-size: 105%; }

#content .li-produkt {
    text-align: left;
    margin: 10px 0 10px 120px;
    font-size: 100%;
    list-style: square; }

#content p.bottom_space {
    padding-bottom: 30px; }
    
#content .pic_pki_start {
    margin: 70px 0 0 90px; }

#content .pic_kabine {
    text-align: left;
    font-size: 90%;
    margin: 80px 130px; }

#content .pic_kabine dd {
    margin: 0; }

#content .pic_kabine img {
    padding: 1px 1px;
    border: 1px solid #c7b477; }
    
#content table.ref {
    margin: 50px 0 30px 30px; }
    
#content table.ref tr.odd {
    background: #E6E6E6; }

#content th {
    text-align: center;
    border-bottom: 1px dotted #9B8748;
    color: #333; }
    
#content td {
    padding: 10px 5px;
    font-size: 95%;
    text-align: center; }
    
#content table.kontakt {
    width: 640px;
    margin: 30px 0 0 80px; }
    
#content table.kontakt th {
    margin: 0;
    padding: 0 0 3px 10px;
    font-size: 110%;
    text-align: left;
    border-bottom: 1px dotted #9B8748; }
    
#content table.kontakt td {
    padding: 1px 0 0 15px;
    font-size: 100%;
    text-align: left; }

#content p#required {
    font-size: 80%; }
    
#content span.asterisk {
    font-size: 110%; color: red; }
    
#content input.txt {
    border: 1px inset gray;
    width: 200px; background-color: #E6E6E6; }
    
#content input.btn {
    border: 1px outset gray;
    margin-left: 20%;
    margin-bottom: 30px; }
    
#content form p {
    clear: left;
    font-size: 95%; }
    
#content form p label {
    float: left;
    width: 20%; }
    
#content textarea {
    border: 1px inset gray;
    width: 400px;
    height: 100px;
    background-color: #E6E6E6; }

#content .adresse {
    font-size: 100%;
    margin-left: 80px;
    list-style: none; }

#content .adresse li {
    text-align: left;
    padding: 1px 0 0 15px; }
/* sidebar
----------*/
#sidebar {
    float: right;
    width: 23%;
    margin: 20px 0 30px 0; }

#sidebar h3 {
    text-align: left;
    margin: 40px 0 0 0; 
    padding: 5px 0 4px 14px;
    font-size: 100%;
    color: #f0f0f0;
    background: url(img/top_box.png) no-repeat top left; }

.nav-side {
    width: 100%;
    background: url(img/bottom_box.gif) no-repeat bottom left; }

ul.nav-side {
    margin: 0 15px 30px 0;
    padding: 0;
    list-style: none; }

ul.nav-side li {
    text-align: left;
    margin: 0;
    padding: 6px 0 6px 14px; }

ul.nav-side a {
    margin: 0;
    padding: 0;
    font-size: 95%;
    color: #333;
    text-decoration: none; }

ul.nav-side a:hover {
    text-decoration: none;
    color: #0077a2; }
/* footer
----------*/
#footer {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2A3E86 url(img/footer_bg.gif) repeat top left; }

#footer p {
    text-align: center;
    font-size: 75%;
    margin: 0;
    color: #eee; }

#clearfooter {
    clear: both;
    width: 100% }
